---
type: method
name: thumbprint verification
slug: thumbprint-verification
aliases: []
appearances: []
relationships: {}
observations: []
enriched: false
created_at: '2026-04-12'
updated_at: '2026-04-12'
---

